@font-face{
	font-family: 'Exo', sans-serif;
}


/* --- Image de fond --- */

body{
	font-family: "Exo";
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.5) 100%),url(../img/bg-img.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin:0px;
	text-align: justify;
	min-width:320px;
}





/* --- Liens--- */

a{
	text-decoration: none;
	color:black;
}




/* --- Barre de navigation --- */

#barreNav{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom:50px;
	background-color: rgba(52,58,64,1);
	height:150px;
	width:100%;
	position:fixed;
	z-index:10;
}

#imgLogoA{
	align-self: center;
}

#imgLogo{
	width:200px;
	height:120px;
	margin-left:50px;
}

#barreNav ul{
	align-self: center;
}

#barreNav li{
	display:inline;
	margin:0px 50px;
	color:white;
}

#barreNav a {
	color:white;
}



/*-- Burger Menu pour Mobile -- */

#barreNavMobile{
	display:none;
	flex-direction: row;
	background-color: rgba(52,58,64,1);
	width:100%;
	position:fixed;
	z-index:10;
	margin-bottom:50px;
	height:150px;
	justify-content: space-between;
}

.container {
	display: inline-block;
	cursor: pointer;
	margin-right:200px;
	padding-top:40px;
	height: calc(100% - 40px);
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
	transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
	opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
	transform: rotate(45deg) translate(-8px, -8px) ;
}

#linksBurger{
	display:none;
	width:200px;
	height:150px;
	background-color: rgba(41,70,100,1);
	color:white;
}





/* --- Contenu principal et class --- */

#contentDiv{
	padding-top:200px;
	max-width:1080px;
	min-height:900px;
	margin:auto;
	margin-bottom:100px;
}

button{
	border-radius:12px;
	background-color: rgb(0,140,186);
	font-size:16px;
	padding:8px;
}

#butSignaler{
	border-radius:12px;
	background-color: rgb(244,67,54);
	font-size:14px;
	padding:4px;
}

input[type=submit]{
	border-radius:12px;
	background-color: rgb(76,175,80);
	font-size:16px;
	padding:8px;
	margin:10px 0px;
}

h1,h2{
	margin:auto;
	margin-bottom:20px;
	text-align: center;
	color:black;
}

.titresWhite{
 	color:white;
}

.mainDiv{
	border:2px black solid;
	border-radius:8px;
	background-color: rgba(255,255,255,1);
	margin:auto;
	padding:30px;
	max-width:1340px;
	margin-bottom:30px;

}

.home{
	width:70%;
	font-size:1.3em;
	background-color: rgba(237,126,120,0.9);
}





/* --- Tableau d'administration --- */

table{
	width:100%;
	margin-bottom:20px;
}

#tablePosts td{
	width:10%;
}

#tablePosts .content{
	width:50%;
}

tr{
	text-align: center;
}

td{
	padding:0px;
}

.tr0{
	background-color: rgb(138,166,15);
}

.tr1{
	background-color: rgb(244,222,81);
}




/* -- Affichage liste articles -- */

#introListPosts{
	border-bottom:1px grey solid;
	font-size:1.2em;
}

.news{
	margin:auto;
	padding:20px 5px;
	max-width:1240px;
	border-bottom:1px grey solid;
}





/* -- Affichage article unique -- */

#postAlone{
	border-bottom:1px grey solid;
}

#comments{
	display:none;
	flex-direction: column;
	background-color: rgb(41,70,100);
	color:white;
	width:60%;
	margin-top:30px;
}

#comments h2{
	color:white;
}

#comment{
	border-bottom:1px grey solid;
	background-color: rgba(255,255,255,0.6);
	padding:10px;
	color:black;
}

#comment:hover{
	background-color: rgba(255,255,255,1);
}

.tox{
	z-index:1;
}




footer{
	width:100%;
	height:200px;
	background-color: rgba(52,58,64,1);
}

#innerFooter{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	color:white;
}

#innerFooter a{
	color:white;
}








@media screen and (min-width: 1081px) and (max-width: 1380px){

	#barreNav li{
		margin:0px 25px;
	}

	.mainDiv, .home{
		width:70%;
	}

}



@media screen and (max-width: 1080px){

	#barreNav{
		display:none;
	}

	#barreNavMobile{
		display: flex;
	}

	#imgLogo{
		margin-right:50px;
		margin-left:0px;
	}

	#toFillBarre{
		width:60%;
	}

	.container{
		margin:0px;
	}

	#linksBurger a{
		color:white;
	}

	#contentDiv{
		padding-top:250px;
	}

	.mainDiv, .home{
		width:70%;
	}

}



@media screen and (max-width: 640px){


	#barreNavMobile{
		height:200px;
	}

	.container{
		height: calc(100% - 40px);
	}

	#linksBurger{
		display:none;
		width:250px;
		height:200px;
	}

	#linksBurger ul{
		padding:20px;
	}

	#mainDivAdministration{
		width:100%;
		padding:0px;
	}

	.mainDiv, .home{
		padding:10px;
		width: calc(100% - 20px);
		border:0px;
		border-radius: 0px;
	}

	#contentDiv{
		padding-top:250px;
	}

	.news h3{
		text-align: center;
	}

	#comments{
		width: calc(100% - 20px);
	}

}